
body {
    margin: 0 auto;
    background-color: #ffffff;
}

header {
    width: 100%;
    height: 20%;
    //border-radius: 3px;
    //border: 2px black solid; 
    margin: 0 auto;
    background-color:#FFFFFF;
    margin: 0 auto 30px;
    font-family: sans-serif;
    line-height: 70px;
}

img{
    padding: 15px;
        /*opacity: 0.5; if we use this img becomes transparent*/
}

div.main-contents{
    height: 500px;
    width: 100%;
    margin: 0px auto;
}

/* Side pannel */
aside.side {
    color: #ffffff;
    background-color: rgb(218, 41, 28);
    width: 10%;
    min-height: 300px;
    float: left;
    border: 1px black solid; 
    border-radius: 3px;
    box-sizing: border-box;
    font-family: sans-serif;
}

#pic {
    background-color: #FFFFFF;
    min-height: 300px;  
    width: 100%;
    border: 2px black solid; 

}

nav {
    background-color: rgb(218, 41, 28);
    width: 100%;
    min-height: 100px;
    float:left;
    
    border: 2px black solid; 
    box-sizing: border-box;
    text-align: center; 
    font-family: sans-serif;
    
}

div #field {
    background-color: rgb(218, 41, 28);;
    float:right;
}

footer {
    background-color: rgb(218, 41, 28);;

    width: 100%;
    margin: 0 auto;
    border: 2px black solid; 

}
