
body {
    margin: 0 auto;
    background-color: #ffffff;
        height: 700px;

}

header {
    width: 100%;
    height: 20%;
    /*border-radius: 3px;*/
    /*border: 2px black solid; */
    margin: 0 auto;
    background-color:#FFFFFF;
    margin: 0 auto 30px;
    font-family: sans-serif;
    line-height: 70px;
}

img{
    padding: 15px;
        /*opacity: 0.5; if we use this img becomes transparent*/
}

div.main-contents{
    height: 500px;
    width: 100%;
    margin: 0px auto;
}

/* Side pannel */
aside.side {
    color: #ffffff;
    background-color: rgb(218, 41, 28);
    width: 10%;
    min-height: 300px;
    float: left;
    border: 1px black solid; 
    border-radius: 3px;
    box-sizing: border-box;
    font-family: sans-serif;
}

#pic {
    background-color: #FFFFFF;
    min-height: 300px;  
    width: 100%;
    border: 2px black solid; 

}

nav {
    background-color: rgb(218, 41, 28);
    width: 100%;
    min-height: 100px;
    float:left;
    
    border: 2px black solid; 
    box-sizing: border-box;
    text-align: center; 
    font-family: sans-serif;
    
}

div #field {
    background-color: rgb(218, 41, 28);;
    float:right;
}

footer {
    background-color: rgb(218, 41, 28);;

    width: 100%;
    margin: 0 auto;
    border: 2px black solid; 

}

#pic {
    height: 100%;
    background: url(https://images.unsplash.com/photo-1535402803947-a950d5f7ae4b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a1ee9193f083f265226c9d0e0b3ec8c9&auto=format&fit=crop&w=1427&q=80);
	background-size: cover;
	background-position: center;
}

.contact, a:hover  {
    text-decoration: none;
    color: rgba(61, 61, 61, 0.966);
}
